# =========================
# PYTHON CACHE
# =========================

__pycache__/
*.pyc

# =========================
# VENV
# =========================

venv/
.env/

# =========================
# DATASET BESAR
# =========================

dataset/
*.zip

# =========================
# TEST IMAGE
# =========================

test-*.jpg
test-*.png

# =========================
# VSCODE
# =========================

.vscode/