# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Dataset
dataset/
dataset_processed/

# Feature hasil ekstraksi
features/
*.csv

# Model hasil training
model/*.pkl
model/*.joblib
model/*.h5
model/*.pt
model/*.pth

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db